* {
	border-radius: 8px;
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 20px;
	font-family: Arial, sans-serif;
	display: grid;
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"header"
		"section"
		"main"
		"footer";
}

header {
	grid-area: header;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffbd66;
	padding: 10px;
	margin-bottom: 20px;
}

h1 {
	color: #333;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

main h1 {
	font-size: 1.5em;
	margin-bottom: 10px;
	font-style: italic;
}

main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	margin: 20px;
}

section,
ul {
	margin: 5px;
	border: 1px solid #ffbd66;
	padding: 10px;
	display: flex;
	/* flex: 1; */
	flex-direction: column;
}

section {
	grid-area: section;
	padding: 20px;
}

div.task-actions {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-top: 20px;
}

input[type="text"] {
	padding: 5px;
	border: 1px solid #ccc;
	/* border-radius: 4px; */
}

input[type="checkbox"] {
	margin-left: 10px;
}

button {
	padding: 5px 10px;
	background-color: #ffbd66;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-weight: bold;
}

button:hover {
	background-color: #ffcb86;
}

li {
	margin: 5px 0;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #ccc;
	font-style: italic;
}

li.completed {
	color: #777;
	opacity: 0.6;
	text-decoration: line-through;
}

p {
	font-size: 1.2em;
	border: 4px solid #ffcb86;
	border-radius: 6px;
	background-color: #ffdaa9;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	grid-area: footer;
	gap: 2rem;
	border: 2px solid #ffbd66;
	padding: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
}

@media (min-width: 600px) {
	body {
		grid-template-columns: minmax(250px, 400px) 1fr;
		grid-template-rows: auto 1fr 3rem;
		grid-template-areas:
			"header header"
			"section	main"
			"footer footer";
	}

	header {
		justify-content: space-between;
	}
}
